nav {
  display: flex;
    width: 100%;
    height: 120px;
    background-color: rgb(23, 23, 146);
    color: white;
    font-family: 'Bungee', sans-serif;
    padding: 1.5em;
    justify-content: space-between;
  }
  
  nav span {
    font-family: 'Bungee', sans-serif;
  }

  .tweet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tweet span {
    font-family: sans-serif;
  }
  
  .fa-angle-double-down {
    font-size: 1.5em;
  }
