.new-tweet {
    width: 100%;
  }
  
  form {
    /* width: 100%; */
  }
  
  .new-tweetfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    font-family: Bungee, cursive;
  }
  
  .new-tweetline {
    height: 2px;
    background-color: black;
  }
  
  .new-tweet__footer button {
    background-color: rgb(9, 9, 191);
    color: white;
  }
  
  #tweet-text {
    width: 100%;
    background: transparent;
    resize: none;
    border: none;
    margin-top: 1em;
  }
  